
############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini


####################################################
## Java ############################################
####################################################

*.class
bin
build
out
distr
target
classes

